@model CarDealership2.Models.AddEditModel

@{
    ViewBag.Title = "AddModel";
}
<style>
    table tr:nth-child(even) {
        background: #00ffff
    }

    td {
        border-left: solid 1px black;
        border-right: solid 1px black;
    }

    tr {
        border-bottom: solid 1px black;
        border-top: solid 1px black;
    }
</style>

<h2>Add a New Model</h2>
<div class="container" style="border:solid; color:black">
    <div>
        <p> </p>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("AddModel2", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group col-xs-4 form-inline">
               @Html.LabelFor(m => m.MakeID)
                @Html.DropDownListFor(m=>m.MakeID, Model.MakeChoices, "-Make-", new {@class="form-control" } )
            </div>
            <div class="col-xs-1"></div>
            <div class="form-group col-xs-3 form-inline" style="padding-right:3px; padding-left:3px">
                @Html.LabelFor(m => m.ModelName)
                @Html.TextBoxFor(m=>m.ModelName, new {@class="form-control" })
            </div>
            <div class="col-xs-1"></div>
            <div class="form-group col-xs-2  form-inline">
                
                <button type="submit" class="btn btn-info form-inline">Save</button>
            </div>
        }
    </div>
</div>
<div>
    <p> </p>
</div>
<div class="container">
    <div class="col-xs-6">
        <table style="border:solid; Border-color: black; padding-left:2px; padding-right:2px">
            <tbody>
                <tr>
                    <td width="20%">Make</td>
                    <td width="20%">Model</td>
                    <td width="20%">Date Added</td>
                    <td width="20%">Added By</td>
                </tr>
                @foreach (var m in Model.CurrentModels)
                {
                    <tr>
                        <td>@m.MakeName</td>
                        <td>@m.ModelName</td>
                        <td>@m.DateAdded.ToString("MM/dd/yyyy")</td>
                        <td>@m.AddedBy</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
    <div class="col-xs-6">
    </div>
    </div>



