@model CarDealership2.Models.UserAdminVM

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.NewUser.EmployeeID)
    @Html.HiddenFor(m => m.NewUser.UserName)
    @Html.HiddenFor(m => m.NewUser.Firstname)
    @Html.HiddenFor(m => m.NewUser.Lastname)
    @Html.HiddenFor(m => m.NewUser.RoleName)
    @Html.HiddenFor(m => m.NewUser.Email)

    <label>Current Password</label>
    @Html.TextBoxFor(m=>m.password1, new { @class = "form-control", type = "password" })
    <span class="text-danger"> @Html.ValidationMessageFor(m => m.password1)</span>
    <br/>
    <label>New Password</label>
    @Html.TextBoxFor(m => m.password2, new { @class = "form-control", type = "password" })
    <span class="text-danger"> @Html.ValidationMessageFor(m => m.password2)</span>

    <button type="submit" class="btn btn-danger">Change Password</button>
}
