@model CarDealership2.Models.UserAdminVM

@{
    ViewBag.Title = "EmployeeAdmin";
}

<h2>Employee Administration</h2>
<div>
    <div>
        <div class=" container col-xs-12" style="border:solid; color:black">
            <span class="text-danger"> @Html.ValidationSummary() </span>
           
            @using (Html.BeginForm("AddEmployee", "admin", FormMethod.Post))
            {
                <div class="form-group col-xs-5">
                    @Html.HiddenFor(m => m.NewUser.EmployeeID)
                    @Html.LabelFor(m => m.NewUser.Firstname)
                    @Html.TextBoxFor(m => m.NewUser.Firstname, new { @class = "form-control", placeholder = "first name" })
                </div>
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.NewUser.Lastname)
                    @Html.TextBoxFor(m => m.NewUser.Lastname, new { @class = "form-control", placeholder = "last name" })
                </div>
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.NewUser.UserName)
                    @Html.TextBoxFor(m => m.NewUser.UserName, new { @class = "form-control", placeholder = "new Username" })
                </div>
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.NewUser.Email)
                    @Html.TextBoxFor(m => m.NewUser.Email, new { @class = "form-control", placeholder = "Username@CMOTCars.com" })
                </div>
                if (Model.NewUser==null || string.IsNullOrEmpty(Model.NewUser.EmployeeID))
                {
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.password1)
                    @Html.TextBoxFor(m => m.password1, new { @class = "form-control", type = "password" })
                    <span class="text-danger"> @Html.ValidationMessageFor(m => m.password1)</span>
                </div>
               
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.password2)
                    @Html.TextBoxFor(m => m.password2, new { @class = "form-control", type = "password" })
                    <span class="text-danger"> @Html.ValidationMessageFor(m => m.password2)</span>
                </div>}
                <div class="form-group col-xs-5">
                    @Html.LabelFor(m => m.NewUser.RoleName)
                    @Html.DropDownListFor(m=>m.NewUser.RoleName, Model.RoleChoice, "-Roles-", new { @class = "form-control" })
                </div>
                
                <div class="form-group col-xs-5">
                    <br/>
                    <button type="submit" class="btn btn-info">Save New User</button>
                </div>
            }
        </div>
        
        <div class="col-xs-4">
            <h3>Current Roles</h3>
            @foreach (var r in Model.Roles)
            {
                <p>@r.RoleName</p>
            }
        </div>
        <div class="container col-xs-8">
            <h2>Current Users</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th style="padding:10px">
                            UserName
                        </th>
                        <th style="padding:10px">
                            Employee Name
                        </th>
                        <th style="padding:10px">
                            Employee Email
                        </th>
                        <th style="padding:10px">
                            Primary role
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var user in Model.Users)
            {
                    <tr>
                        <td style="padding:10px">
                            @user.UserName
                        </td>
                        <td style="padding:10px">
                            @user.Firstname @user.Lastname
                        </td>
                        <td style="padding:10px">
                            @user.Email
                        </td>
                        <td style="padding:10px">
                            @user.RoleName
                        </td>
                        <td style="padding:10px">
                            <span class="btn btn-warning">@Html.ActionLink("Edit User", "EditUser", "admin", new { UserID = user.EmployeeID, value = user.EmployeeID }, null) </span>
                        </td>
                        <td style="padding:10px">
                            <span class="btn btn-danger">@Html.ActionLink("Disable User", "DisableUser", "admin", new { UserID = user.EmployeeID, value = user.EmployeeID }, null)</span>
                        </td>
                    </tr>
                }
            </table>

        </div>
        
    </div>
</div>