@model CarDealership2.Models.SalesIndexVM

@{
    ViewBag.Title = "New";
}

<h2>New Cars</h2>
@foreach (var vehicle in Model.Inventory)
{

    <div class="container" style="border:solid; color:black" id="carcontainer">
        <div>
            <h3>@vehicle.ModelYear @vehicle.MakeName  @vehicle.ModelName </h3>
            <div class="col-xs-3" id="imageDiv" style="padding: 5px">
                <img src="~/Uploads/@vehicle.ImageFileName" , alt="@vehicle.ImageFileName" style="height:150px; " overflow: hidden;" />
            </div>
            <div class="col-xs-4">
                <p>Body Style: @vehicle.BodyStyle </p> <p>Trans: @vehicle.TransmissionName </p> <p> Color: @vehicle.ColorName </p>
            </div>
            <div class="col-xs-3">
                <p>Interior: @vehicle.InteriorDescription </p>
                @if (vehicle.IsNew == true)
                {
                    <p>Mileage: New</p>
                }
                @if (vehicle.IsNew == false)
                {
                    <p>Mileage: @vehicle.Mileage  </p>
                }
                <p>VIN: @vehicle.VIN </p>
            </div>
            <div class="col-xs-2">
                <p>Sale Price: @vehicle.Saleprice </p> <p>MSRP: @vehicle.MSRP </p>
            </div>
        </div>

        <div>
            <div class="col-xs-10"><p style="text-align:center; font-size:14pt">Description: @vehicle.CarDescription </p></div>
            <div class="col-xs-2">
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit car", "EditCar", "admin", new { CarID = vehicle.CarID }, null)
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("sales"))
                {
                    @Html.ActionLink("Sell car", "SellCar", "Sales", new { CarID = vehicle.CarID }, null)
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Contact us", "Contact", "home")
                }
            </div>
        </div>
    </div>
}

